In [1]:
from numpy.random import randn
import numpy as np

# Z TEST

In [2]:
sample_mean=110
alpha=0.05
#ci=95%
mean_std_dev=15
mean_population=100

# To implement ztest we need population data also
data=mean_std_dev*randn(50)+mean_population
data

array([ 90.66087036, 112.08444743,  89.44937587,  88.56704268,
       108.90066466, 119.63242822,  95.0376339 ,  80.11280205,
        84.07126329, 115.82689036, 108.2691695 , 106.68655035,
       109.06844091,  98.34776986, 105.66701099,  88.44865619,
       104.540764  ,  99.55235395,  81.87790485, 106.39652592,
        92.39215631,  72.2041505 , 110.92502443,  81.52687561,
        94.52681183,  94.03978784, 118.55246095,  97.17688713,
        90.21619106,  81.25161352,  85.9312037 ,  81.20569668,
       100.44558003, 124.80858677,  82.01237887,  83.53876749,
       100.26685891, 118.82581387, 123.26828112, 118.69726239,
        94.88013361,  96.03278394, 100.92346592, 110.97720247,
        94.67747005,  98.78913954, 108.77668924, 105.89690922,
       103.54623148, 102.51504958])

In [3]:
np.mean(data)

99.24052058809484

In [4]:
np.std(data)

12.708886393514435

In [5]:
from statsmodels.stats.weightstats import ztest
ztest_Score, p_value= ztest(data,value = mean_population, alternative='larger')
# the function outputs a p_value and z-score corresponding to that value, we compare the

In [6]:
# p-value with alpha, if it is greater than alpha then we do not null hypothesis 
# else we reject it.
  
if(p_value <  alpha):
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

Accept Null Hypothesis

In [7]:
# When sample size <30 use t test instead of z test
# While using t test we don't need population std dev, instead of it sample std dev is required

# T TEST

In [8]:
import random
import numpy as np
population=np.random.randint(10,50,500)
population

array([47, 25, 23, 20, 30, 11, 34, 18, 46, 20, 30, 11, 33, 32, 17, 39, 33,
       18, 29, 46, 44, 17, 39, 26, 29, 26, 45, 34, 27, 47, 30, 48, 42, 42,
       19, 39, 30, 13, 46, 40, 35, 29, 19, 35, 13, 30, 38, 20, 21, 34, 29,
       17, 14, 38, 14, 37, 41, 27, 29, 27, 48, 35, 46, 28, 15, 18, 36, 49,
       32, 49, 44, 26, 17, 22, 26, 31, 25, 18, 29, 35, 34, 38, 33, 22, 45,
       46, 39, 31, 19, 15, 11, 27, 24, 46, 13, 26, 12, 46, 15, 49, 40, 34,
       10, 41, 31, 14, 41, 48, 41, 23, 28, 37, 42, 28, 46, 29, 14, 11, 46,
       11, 45, 11, 31, 38, 15, 27, 14, 32, 12, 43, 23, 44, 30, 21, 29, 21,
       46, 11, 23, 32, 18, 41, 23, 28, 39, 22, 41, 24, 25, 21, 19, 44, 23,
       14, 37, 21, 36, 47, 44, 27, 43, 43, 41, 23, 21, 33, 36, 14, 42, 11,
       23, 46, 27, 32, 47, 34, 40, 26, 32, 47, 21, 36, 11, 34, 21, 27, 20,
       26, 13, 21, 29, 17, 43, 49, 14, 10, 40, 48, 43, 12, 19, 16, 12, 10,
       44, 45, 41, 12, 28, 40, 40, 13, 22, 18, 17, 48, 14, 11, 14, 24, 36,
       44, 17, 41, 46, 28, 17, 38, 30, 39, 29, 13, 29, 25, 19, 28, 39, 19,
       41, 34, 26, 27, 40, 24, 18, 13, 20, 35, 19, 31, 41, 41, 17, 48, 19,
       20, 30, 34, 46, 26, 21, 48, 31, 25, 40, 39, 39, 19, 19, 29, 15, 46,
       47, 19, 10, 44, 35, 11, 47, 44, 37, 49, 17, 30, 46, 29, 19, 29, 16,
       33, 42, 19, 30, 12, 29, 43, 13, 37, 44, 15, 49, 38, 43, 23, 42, 34,
       14, 33, 23, 46, 45, 15, 41, 13, 47, 41, 45, 34, 30, 48, 35, 22, 47,
       34, 46, 47, 16, 36, 17, 34, 18, 15, 25, 26, 48, 12, 17, 29, 33, 38,
       12, 17, 32, 20, 26, 37, 16, 36, 17, 14, 35, 48, 17, 34, 33, 46, 17,
       40, 25, 46, 38, 22, 37, 48, 15, 29, 32, 33, 41, 17, 16, 48, 29, 39,
       44, 34, 14, 48, 46, 34, 10, 33, 44, 12, 40, 18, 11, 25, 36, 19, 32,
       17, 10, 14, 46, 37, 17, 17, 30, 40, 45, 47, 41, 20, 28, 19, 41, 21,
       21, 16, 26, 29, 25, 34, 25, 24, 24, 17, 34, 47, 45, 24, 11, 32, 36,
       23, 40, 22, 36, 48, 20, 40, 45, 29, 22, 49, 31, 42, 21, 41, 12, 24,
       17, 41, 31, 20, 49, 10, 28, 36, 16, 22, 34, 39, 33, 38, 14, 19, 20,
       42, 38, 11, 43, 23, 33, 41, 37, 22, 44, 17, 25, 11, 31, 34, 47, 48,
       39, 14, 14, 11, 39, 39, 10, 10, 44, 11, 49, 29, 35, 49, 31, 28, 29,
       13, 24, 16, 28, 37, 16, 15])

In [9]:
np.mean(population)

29.634

In [10]:
# taking 2 samples of length 20 from the population
my_cricket_score=np.random.choice(population,20)
virat_cricket_score=np.random.choice(population,20)

In [11]:
np.mean(my_cricket_score)
# Null hypo - sample mean should be 25.9

32.95

In [12]:
np.mean(virat_cricket_score)

29.05

In [13]:
# ONE SAMPLE T TEST - Tests whether the mean of a single population is equal to a target value

In [14]:
import scipy
result=scipy.stats.ttest_1samp(my_cricket_score,26.58)

In [15]:
result[1]

0.030116809504718463

In [16]:
# TWO SAMPLE T TEST - Tests whether the difference between the means of two independent populations is equal to a target value

In [17]:
scipy.stats.ttest_ind(my_cricket_score,virat_cricket_score)

Ttest_indResult(statistic=1.0691956116253138, pvalue=0.291726517629345)

In [18]:
# PAIR T TEST - two sample from the sample population on different time interval

In [19]:
my_cricket_score_from_first_inning=[22, 38, 19, 15, 48, 11, 10, 49, 47, 38, 10, 25, 46, 10, 21, 24, 29,36, 25, 24]
my_cricket_score_from_second_inning=[22, 38, 29, 15, 18, 11, 10, 49, 47, 38, 50, 45, 46, 40, 21, 24, 29,16, 25, 24]

In [20]:
print(np.mean(my_cricket_score_from_first_inning))
print(np.mean(my_cricket_score_from_second_inning))

27.35
29.85

In [21]:
scipy.stats.ttest_rel(my_cricket_score_from_first_inning,my_cricket_score_from_second_inning)

Ttest_relResult(statistic=-0.7542295906745516, pvalue=0.45995773816634733)